.announcement{
    background-color: blue;
    color: yellow;
}
body{
    text-align: center;
}
#SA{
    width: 300px;
}
#Sc{
    width: 300px;
}
.school_mainDiv{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.school_mainDiv img{
    width:300px;
}
.school_mainDiv hr{
    width:230px;
}
.school_mainDiv h5, .school_mainDiv p{

    margin-left: 20px;
}
.achivement_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:100%;
    display: inline-block;
}
.achivement_head i{
    float: right;
}
.achivement_head span{
    color:#ff7700;
}
#neverskip{
    width: 150px;
}
.new_li{
    margin-top: 13px;
}
.new_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.new_li img{
    border-radius: 25px;
}
.new_li p{
    margin-top: 10px
}
.chair{
    cursor: pointer;
}
.chair hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}
#princepal{
    width: 300px;
}
#1sir{
    width: 500px;
}